#contact {
	
	ul {
		list-style-type: none;
		margin: 3rem auto;
		li {
			font-weight: 900;
			color: white;
			margin: 1.25rem;
			animation-name: wobble;
			animation-duration: 1s;
			animation-iteration-count: infinite;
			&:nth-child(odd) {
				animation-direction: reverse;
			}
		}
	}
}