#cv {
	width: 85vw;
	margin: 0 auto;
}

#cv ul {
	width: 95%;
	margin: 20px auto;
}
#cv ul li {
	text-align: left;
	color: white;
	margin: 1.25rem;
	font-weight: 900;
	animation-name: slide-in;
	animation-duration: 1s;
	animation-iteration-count: 1;
	// animation-timing-function: ease-out;
	position: relative;
}
#cv ul li ul li {
	font-weight: 400;
}
#cv ul li:nth-child(odd) {
	animation-name: slide-in-reverse;
}
#cv ul li a {
	color: white;
}
#cv ul li a:visited {
	color: white;
}
@media (min-width: 768px) {
	#cv {
		width: max-content;
		margin: 0 auto;
	}

}