:root {
  --box-size: 300px;
  --desktop-box-size: 500px;
}

#home {
  #home-box {
    position: relative;

    transform-origin: center;
    fieldset {
      border: none;
      margin: 1.5rem auto;
    }
    legend {
      color: white;
      font-weight: bold;
      width: 100%;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
}

@media (min-width: 768px) {
  #home {
    position: relative;
    width: var(--desktop-box-size);
    height: var(--desktop-box-size);
    margin: 10rem auto;
    svg {
      transform-origin: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:hover #home-box {
      animation-play-state: paused;
    }
    #home-box {
      position: relative;
      width: var(--desktop-box-size);
      height: var(--desktop-box-size);
      animation: spin 20s infinite linear;
      fieldset {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: 50%;
        width: var(--desktop-box-size);
        height: var(--desktop-box-size);
        margin: 0 auto;
        border: 1px solid white;
      }
      fieldset:nth-child(2) {
        transform: rotate(90deg);
      }
      fieldset:nth-child(3) {
        transform: rotate(180deg);
      }
      fieldset:nth-child(4) {
        transform: rotate(270deg);
      }
      legend {
        position: absolute;
        top: -2rem;
        left: 50%;
        transform: translate(-50%, 0);
        color: white;
        font-weight: bold;
        border: 1px solid white;
        width: 120%;
        font-size: 1.5rem;
        line-height: 1.5rem;
        cursor: pointer;
        transition: background-color var(--transition-speed),
          color var(--transition-speed);
        &:hover {
          background-color: white;
          color: black;
        }
      }
    }
  }
}
