#home {
  #home-box {
    p {
      color: white;
      font-weight: bold;
      margin: 50px;
    }
    ul {
      list-style-type: none;
      li {
        color: white;
        font-weight: bold;
        width: 100%;
        font-size: 1.5rem;
        margin: 20px auto;
        h3 {
          background-color: grey;
          width: max-content;
          padding: 10px 20px;
          border-radius: 10px;
          margin: 0 auto;
		  cursor: pointer;
        }
      }
    }
  }
}
