section span.close {
	color: white;
	font-size: 0.75rem;
	font-weight: 900;
	background-color: #FF00FF;
	display: block;
	padding: 10px;
	border: 3px solid white;
	cursor: pointer;	
	width: 30%;
	border-radius: 1.25rem;
	margin: 10px auto;
	transition: background-color var(--transition-speed), color var(--transition-speed), border-color var(--transition-speed);
	&:hover {
		background-color: white;
		color: #FF00FF;
		border-color: #FF00FF;
	
	}
}	